body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: yellow;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  background-color: yellow;
  font-size: 20px;
  font-weight: bold;
  border: black 1px;
  border-radius: 20px;
  border-style: solid;
  padding: 10px;

}

button:hover {
    background-color: black;
    color: yellow;
}
